version: "3.9"

services:

  gateway:
    build: ./Gateway
    ports:
      - "8000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - userservice
      - chatservice

  userservice:
    build: ./UserService
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=UserDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True;

  chatservice:
    build: ./ChatService
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=ChatDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True;

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - "1433:1433"